# Ignore build outputs
bin/
obj/
Infrastructure/bin
Infrastructure/obj
Domain/bin
Domain/obj
Application/bin
Application/obj
Presentation/bin
Presentation/obj
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider (JetBrains)
.idea/
*.iml

# Visual Studio Code
.vscode/

# ASP.NET Core secrets
**/secrets.json

# dotnet artifacts
*.db
*.db-shm
*.db-wal
*.log

# Entity Framework
Migrations/

# Angular + Node
node_modules/
dist/
.angular/

# Environment configs
.env
.env.*

# Docker
.dockerignore
docker-compose.override.yml

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Logs
*.log

# Coverage & reports
coverage/
*.lcov

# Others
package-lock.json
yarn.lock
